# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.build-*/
.swiftpm/xcode/
.swiftpm/configuration/
Package.resolved
.test-artifacts/

# Environment / Secrets
.netrc
.env
